.front {
  .postscript {
    @include clearfix;
    border-top: 1px solid #ccc;
    padding-top: 3em;
    margin-top: 1em;
  }
}

.about-front {
  background: #fff;
  padding: 1em 1em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
      @include grid-span(8.5,1);
      padding: 1em 7em 2em 2em;
  }
  h3 {
    font-size: 36px;
    color: #323F3F;
    margin-bottom: 0.1em;
  }
}

.contact-social {
  background: #13365F;
  padding: 1em 2em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
      @include grid-span(5,8);
      margin-top: 2em;
  }
}