nav.main-nav {
  font-family: $heading-font-family;
  font-size: 120%;
  @include breakpoint($tablet, $no-query: ".no-mq") {
    font-size: 110%;
  }
  ul {
    list-style-type: none;
    margin: 0 auto;
    padding:0;
    text-align: center;
    li {
      padding-bottom: 1em;
      @include breakpoint($tablet, $no-query: ".no-mq") {
          display: inline-block;
          padding: 0 1em;
      }
    }
    a {
      color: #fff;
      text-transform: uppercase;
      text-shadow: 0px 2px 3px rgba(0,0,0,0.4);
      font-weight: 700;
      &:hover {
        text-decoration: none;
      }
      &.active {
        border-bottom: 3px solid #fff;
      }
    }
  }
}

nav.top-nav {
    ul.hide {
        @include breakpoint($phone) {
            @include transition(all .35s ease-in-out);
            opacity: 0;
            visibility: hidden;
        }
    }
}

.menu-btn {
    margin: 2em 0em 0 2em;
    position: absolute;
    color: $white;
    border: 2px solid $white;
    padding: .25em 1.25em;
    font-size: 90%;
    background: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    outline: none;
    @include transition(all .25s ease-in-out);
    font-weight: normal;
    &:before {
        content: "\f0c9";
        font-family: FontAwesome;
        padding-right: .5em;
    }
    @include breakpoint($tablet, $no-query: ".no-mq") {
        display: none;
    }

}
.menu-btn.close {
    @include transition(all .25s ease-in-out);
    background: #AE131A;
    &:before {
        content: "\f00d";
    }
}

#menu {
    @include breakpoint($tablet, $no-query: ".no-mq") {
        visibility: visible;
    }
}

#mobile-menu {
    @include breakpoint($tablet, $no-query: ".no-mq") {
        visibility: hidden;
    }
}
