.main-content-area {
  @include wrap;
  padding: 0 2em;
  .page-intro {
    max-width: 800px;
    text-align: center;
    margin: 0 auto 2em;
    font-size: 1.2em;
  }
}

.front { 
  .main-content-area {
    .page-intro {
      margin: 0 auto 2em;
      @include breakpoint($tablet, $no-query: '.no-mq') {
        margin: 0 auto 5em;
      }
    }
  }
}