---
layout: default
---
<h4 class="title-emblem">{{ page.subtitle }}</h4>
<div class="page-intro editable">
  <p>Nichol-Bak tours is about bringing 7 different towns together and the epicenter being Twin Lakes. Along with seeing 7 different mountain towns, there is fishing, rafting, kayaking, museums, and really anything you can think of up there to do.</p>
</div>


 <ul class="tabs-menu">
  {% for item in site.tours %}
    <li><a href="#tab-{{ item.id }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>


{% for item in site.tours %}
  <div class="tour-teaser" id="tab-{{ item.id }}">
    <div class="tour-teaser-image">
      <img src="{{ item.tour_images.first.image_path }}" class="image-border" alt="{{ item.title }}" />
    </div>
    <div class="tour-teaser-details">
      <h3>{{ item.title }}</h3>
      <p>{{ item.description }}</p>
      <div class="tour-teaser-links">
        <a class="more-info-link" href="{{ item.url }}">View More Details</a>
        <a class="btn book-now-btn" href="">Request to Book Now</a>
      </div>
    </div>
  </div>
{% endfor %}

<div class="postscript">
  <div class="about-front editable">
    <h3>About Us</h3>
    <p>Aenean rhoncus ultricies ipsum. Nam suscipit vehicula eros vitae aliquet. Nulla elementum risus a feugiat commodo. In tincidunt fermentum mauris, rhoncus porttitor nisl volutpat non.</p>
    <a class="btn" href="">Learn More About Us</a>
  </div>
  <div class="contact-social inverse">
    <h6>Give us a call:</h6>
    <P class="phone-number">970-924-8357</P>
  </div>
</div>