---
layout: default
---
<div class="flexslider tours-images-slider">
  <ul class="slides">
    {% for item in page.tour_images %}
    <li>
      <img class="image-border" src="{{ item.image_path }}" />
    </li>
    {% endfor %}
  </ul>
</div>


<h1 class="page-title">{{ page.title }}</h1>
<div class="page-intro editable">
  <p>{{ content }}</p>
</div>

<div class="tour-details">
  <div class="left-col">
    <div class="detail">
      <span class="detail-label">Price</span>
      <span class="detail-content">{{ page.price }}</span>
    </div>
    <div class="detail">
      <span class="detail-label">Availability</span>
      <span class="detail-content"><a href="#">View Calendar</a></span>
    </div>
    <div class="detail">
      <span class="detail-label">Includes</span>
      <ul>
        {% for item in page.includes %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="right-col">
    <div class="detail faq">
      <span class="detail-label">FAQ</span>
      {% for item in page.faq %}
        <h6>{{ item.question }}</h6>
        <p>{{ item.answer }}</p>
      {% endfor %}
    </div>
    <div class="detail contact">
      <span class="detail-label">Have any questions about this tour?</span>
      <p>Give us a call at 970-294-8357 or drop us a line using our <a href="/contact">contact form</a></p>
    </div>
  </div>
</div>

<div class="book-link"><a href="/request" class="btn book-now">Request to Book Now</a></div>

